<footer class="">
  <div class="mh-copyright-wrap">
    <div class="mh-container mh-container-inner mh-clearfix mh-copyright">
      <span class="grow">Copyright © {{site.time| date: '%Y'}} Mark's Wood Projects</span>
      <a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}"
        ><svg class="svg-icon">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use>
        </svg>
        <span class="username">{{ site.instagram_username| escape }}</span></a
      >
    </div>
  </div>
</footer>
